.test { 
    width: 400px;
    background-color: #023047;
    text-align: center;
    color: #FB8500;
    transition: all 1s ease-in;
}
.red { 
    width: 100%;
    color: #023047;
    background-color: #FB8500;
    transition: all 1s ease-in;
}
