<h3>Liste de course simple</h3>
<div class="form">
    <div>
        <label>Entrez ici votre article</label>
        <input id="nom" type="text" [(ngModel)]="nom">
    </div>
    <div>
        <label>Entrez ici son prix</label>
        <input type="number" [(ngModel)]="prix">
    </div>
    <div>
        <label>Entrez ici la quantitée</label>
        <input type="number" [(ngModel)]="nb">
    </div>
    <div>
        <label>Entrz ici l'url de l'image</label>
        <input type="text" [(ngModel)]="img">
    </div>
    <button (click)="add()">Ajouter au panier</button>
    <app-liste-course (delCart)="del($event)" [cart]="panier"></app-liste-course>
</div>
